* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 15px;
    background-color: grey;
    color: aliceblue;
    width: 85%;
    height: 40px;
    border-radius: 4px;
}

input {
    margin: 10px;
    width: 80px;
    height: 30px;
    border: none;
    padding: 0px;
    outline: none;
    background-color: transparent;
}



.header {
    display: flex;
    margin: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
     
.control-panel {
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height: 400px;
    width: 250px;
    justify-content: center;
    align-items: start;
}

.color-panel {
    display: flex;
    align-items: center;
}

.grid-container {
    margin-left: 50px;
    border-color: rgb(215, 188, 153);
    border-style: solid;
    border-width: 30px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(16, 1fr); /* 16 columns */
    grid-template-rows: repeat(16, 1fr); /* 16 rows */
    gap: 0; /* No gap between grid items */
    width: 500px; /* Fills up the available width */
    height: 500px; /* Fills up the available height */
  }
  
  .grid-container > div {
    /* Styles for individual grid items if needed */
    border: 1px solid black; /* Example border for each grid item */
  }
  